/*********************
  General Settings
*********************/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EDEFF0;
}

* {
  box-sizing: border-box;
}



/*********************
  Heading
*********************/
.main-wrapper header {
  background-color: #3E474F;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.main-wrapper header h1 {
  margin: 0;
  font-weight: bold;
}



/*********************
  Gallery
*********************/
.gallery {
  width: 90%;
  margin: 60px auto 0;
}

.gallery .OMDbForm {
  background-color: #fff;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.gallery .OMDbForm label,
.gallery .OMDbForm input {
  margin-top: 20px;
}

.OMDbForm .OMDbSearch {
  width: 100%;
}

.OMDbForm .submit-btn {
  width: 50%;
  display: block;
  margin: auto;
}

/*********************
  Overlay
*********************/
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding-top: 50px;
}
